.toDoItem {
    background-color: lavender;
    margin: 10px;
    padding: 10px;
}

.deleteButton {
    background-color: rgb(247, 247, 247);
    border: none;
    border-radius: 5px;
    float: right;
    font-size: 14px;
}