.inputGroup {
    background-color: rgb(219, 217, 217);
    border: solid 1px rgb(65, 64, 64);
    border-radius: 3px;
    color: rgb(82, 81, 81);
    margin: 4px; 
    padding: 8px;
    width: 100%
}

.form {
    width: 100%;
}

.label {
    /* display: inline-block;
    float: left;
    clear: left;
    width: 50px;
    text-align: right; */
}

.input {
    float: right;
}

.error {
    color: rgb(146, 3, 3);
    margin-left: 4px
}